@import './node_modules/chessground/assets/chessground.base.css';
@import './node_modules/chessground/assets/chessground.brown.css';
@import './node_modules/chessground/assets/chessground.cburnett.css';

:root {
	--bulma-primary: hsla(
		var(--bulma-primary-h),
		var(--bulma-primary-s),
		var(--bulma-primary-l),
		1
	);
	--bulma-primary-base: hsla(
		var(--bulma-primary-h),
		var(--bulma-primary-s),
		var(--bulma-primary-l),
		1
	);
	--bulma-primary-rgb: 10, 220, 155;
	--bulma-primary-h: 160deg;
	--bulma-primary-s: 100%;
	--bulma-primary-l: 30%;
	--bulma-primary-00-l: 1%;
	--bulma-primary-05-l: 6%;
	--bulma-primary-10-l: 11%;
	--bulma-primary-15-l: 16%;
	--bulma-primary-20-l: 21%;
}

body {
	width: 100vw;
	height: 100vh;
}

#container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 6rem;
}

#timer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
}

#game-meta {
	/* display: none; */
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	margin: 0.75rem 0.5rem;
	gap: 1rem;
}

.is-black {
	background-color: var(--bulma-body-color);
	color: var(--bulma-body-background-color);
	padding: 2px;
	border-radius: 2px;
}

#whose-move {
	/* todo: change font color based on if it's the user's turn first (primary rather than warning or something) */
	display: flex;
}

#countdown-container {
    display: none;
	background-color: transparent;
	padding: 2rem;
	font-size: 6rem;
	position: absolute;
	z-index: 5;
	/* todo: fix margin */
	margin: 130px 0 0 110px;
	-webkit-text-stroke: 2px black;
	color: white;
}

#board {
	pointer-events: none;
	width: 400px;
	height: 400px;
}

#connect-button-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

#game-status-modal {
	display: none;
	position: absolute;
	z-index: 5;
	background-color: var(--bulma-body-background-color);
	/* todo: fix margin */
	margin: 110px 0 0 80px;
	border: 2px solid #cccccc28;
	border-radius: 0.5rem;
}

#modal-header {
	display: flex;
	font-size: 1.25rem;
	justify-content: center;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #cccccc28;
}

#modal-content {
	display: flex;
	padding: 0.5rem;
	flex-direction: column;
}

#modal-button-container {
	display: flex;
	justify-content: flex-end;
}

#modal-button-container button {
	margin: 0px 6px;
}
